*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}
img {
  display: block;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

.link { text-decoration: none; 
    color: #434455;
    display: inline-block;}
.link:hover,
.link:focus {color: #404bbf;}

.address {
  font-style: normal;
}

.button {background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;}
.button:hover,
.button:focus {background-color: #404bbf;
    color: #ffffff;}

.title {text-align:center;
    color: white;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;}

.studio {background-color: #2e2f42;
    padding: 188px 0;}
.studio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {text-align:center;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;}

.section-title {text-align:center; 
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42;
    margin-bottom: 8px;}
.section-title:hover,
.section-title:focus {color: #4D5AE5;}

.section-text {text-align:center;}

.page-title-3 {font-size: 20px; 
    color: #2e2f42;
    font-weight: 500; 
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;}

p {font-size: 16px;
letter-spacing: 0.02em;}

.footer {background-color: #2e2f42; 
    color: #f4f4fd;
    padding: 100px 0;}
.footer p {
  max-width: 264px;
}

.contactes-color {background-color: #F4F4FD;}
.contactes {background-color: #ffffff;
    text-align: center;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;}
.nav {font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-right: auto;}
.nav-link {color: #2e2f42; 
    text-decoration: none;
    display: block;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {color: #404bbf;}

.accent {color: #4D5AE5}
.web-header {font-weight: 700; 
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.03em;
    line-height: 1.16;
    font-size: 18px;
    text-decoration: none;
    margin-right: 76px;}
.web-footer {font-weight: 700;
    font-family: "Raleway", sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.03em;
    line-height: 1.16;
    font-size: 18px;
    color: #F4F4FD;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;}
.social-links {font-style: normal;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}
.section-team {background-color: #F4F4FD;
   }

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-card {
  width: calc((100% - 48px) / 3);
}
.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}
.team-list {
  display: flex;
  gap: 24px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.team-info {
  padding: 32px 16px;
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
