*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}
img {
  display: block;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

.link { text-decoration: none; 
    color: #434455;
    display: inline-block;}
.link:hover,
.link:focus {color: #404bbf;}

.address {
  font-style: normal;
}

.button {background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.button:hover,
.button:focus {background-color: #404bbf;
    color: #ffffff;}

.title {text-align:center;
    color: white;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;}

.studio {
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image:
    linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/img-444.jpg");
  background-repeat: no-repeat;
  background-position: center 85%;
  background-size: cover;
}
.studio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {text-align:center;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;}

.section-title {text-align:center; 
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42;
    margin-bottom: 8px;}
.section-title:hover,
.section-title:focus {color: #4D5AE5;}

.section-text {text-align:center;}

.page-title-3 {font-size: 20px; 
    color: #2e2f42;
    font-weight: 500; 
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;}

p {font-size: 16px;
letter-spacing: 0.02em;}

.footer {background-color: #2e2f42; 
    color: #f4f4fd;
    padding: 100px 0;}
.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px; 
}
.footer p {
  max-width: 264px;
}
.footer-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 1px;
}

.contactes-color {background-color: #F4F4FD;}
.contactes {background-color: #ffffff;
    text-align: center;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 6px #2E2F4214, 0px 1px 3px #2E2F4214;
    transition: box-shadow 0.3s ease;}
.nav {font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-right: auto;}
.nav-link {color: #2e2f42; 
    text-decoration: none;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus {color: #404bbf;}

.accent {color: #4D5AE5}
.web-header {font-weight: 700; 
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.03em;
    line-height: 1.16;
    font-size: 18px;
    text-decoration: none;
    margin-right: 76px;}
.web-footer {font-weight: 700;
    font-family: "Raleway", sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.03em;
    line-height: 1.16;
    font-size: 18px;
    color: #F4F4FD;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;}
.social-links {font-style: normal;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}
.section-team {background-color: #F4F4FD;
   }

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 
  0 1px 6px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16),
  0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}
.team-list {
  display: flex;
  gap: 24px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.team-info {
  padding: 32px 16px;
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  margin-bottom: 8px;
}
.features-icon .icon {
  fill: #2e2f42;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.social-links-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 10px;
}
.social-links-icon li {
  list-style: none;
}

.social-icon {
  fill: #fff;
  width: 24px;  
  height: 24px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item {
  padding: 8px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.social-link {
  background-color: #4d5ae5; 
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus-visible {
  background-color: #31d0aa; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1); 
  outline: none; 
}
.portfolio-info {
  padding: 32px 16px;
  gap: 8px;
  background-color: white;
  color: #2e2f42;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none; 
}
.portfolio-card {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
  box-shadow: 
    0 2px 1px 0 rgba(46,47,66,0.08),
    0 1px 1px 0 rgba(46,47,66,0.16),
    0 1px 6px 0 rgba(46,47,66,0.08);;
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  size: 24px;
  text-align: left;
  letter-spacing: 0.02em;
  
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .overlay {
  transform: translateY(0); 
  opacity: 1;
 visibility: visible;
}

